In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
!ls ../data

2007-2016-Homelessnewss-USA.csv
README.md
countypres_2000-2020.csv
homeless_count_with_housing_price_by_state.csv
profile_by_county_1969_2019.csv

# Read Datasets

In [187]:
df_homeless = pd.read_csv("../data/2007-2016-Homelessnewss-USA.csv")
df_homeless

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842
...,...,...,...,...,...,...
86524,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Youth (Unde...,7
86525,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Veterans,31
86526,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth (Under 25),3
86527,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Age 18-24,3
86528,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Under 18,0

In [4]:
df_politics = pd.read_csv("../data/countypres_2000-2020.csv")
df_politics

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL
2,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL
3,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,OTHER,OTHER,113,17208,20220315,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003.0,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480,20220315,TOTAL
...,...,...,...,...,...,...,...,...,...,...,...,...
72612,2020,WYOMING,WY,WASHAKIE,56043.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3245,4032,20220315,TOTAL
72613,2020,WYOMING,WY,WESTON,56045.0,US PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,360,3560,20220315,TOTAL
72614,2020,WYOMING,WY,WESTON,56045.0,US PRESIDENT,JO JORGENSEN,LIBERTARIAN,46,3560,20220315,TOTAL
72615,2020,WYOMING,WY,WESTON,56045.0,US PRESIDENT,OTHER,OTHER,47,3560,20220315,TOTAL
72616,2020,WYOMING,WY,WESTON,56045.0,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3107,3560,20220315,TOTAL

In [135]:
df_econ = pd.read_csv("../data/profile_by_county_1969_2019.csv", encoding='latin-1')
df_econ

/var/folders/8b/_p73f6h51q16gtmwyy4cv8yw0000gn/T/ipykernel_56154/2483043623.py:1: DtypeWarning: Columns (2,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df_econ = pd.read_csv("../data/profile_by_county_1969_2019.csv", encoding='latin-1')

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,CAINC30,10.0,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
1,"""00000""",United States,,CAINC30,45.0,...,Net earnings by place of residence,Thousands of dollars,609767000,647228000,...,8044221000,8531667000,8956340000,9132669000,9539185000,9915088000,10145493000,10626821000,11167886000,11667012000
2,"""00000""",United States,,CAINC30,50.0,...,Personal current transfer receipts,Thousands of dollars,62322000,74733000,...,2325117000,2358654000,2362988000,2424297000,2541510000,2685370000,2776746000,2855049000,2970254000,3125174000
3,"""00000""",United States,,CAINC30,60.0,...,Income maintenance benefits 1/,Thousands of dollars,7275000,9897000,...,256034000,264137000,267614000,271171000,270971000,273685000,270259000,268468000,260380000,268682000
4,"""00000""",United States,,CAINC30,70.0,...,Unemployment insurance compensation,Thousands of dollars,2328000,4200000,...,139715000,107871000,84439000,63049000,35787000,32860000,32482000,30756000,28302000,28075000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99137,"""98000""",Far West,8.0,CAINC30,310.0,...,Average nonfarm proprietors' income,Dollars,7216.0,7201.0,...,33289.0,34288.0,37835.0,37052.0,36527.0,36406.0,37290.0,37791.0,38275.0,38651.0
99138,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99139,CAINC30: Economic Profile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99140,"Last updated: November 17, 2020-- new statisti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99141,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Processing

## Homeless Dataset

https://www.kaggle.com/code/adamschroeder/homelessness-comparison-between-states/data?select=2007-2016-Homelessnewss-USA.csv

In [188]:
df_homeless['Year_only'] = pd.DatetimeIndex(df_homeless['Year']).year

In [189]:
df_homeless_sub = df_homeless.query("Year_only == 2008 or Year_only == 2016")

In [190]:
df_homeless_sub['Count'] = df_homeless_sub['Count'].str.replace(',', '').astype(float)

/var/folders/8b/_p73f6h51q16gtmwyy4cv8yw0000gn/T/ipykernel_56154/1261704679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homeless_sub['Count'] = df_homeless_sub['Count'].str.replace(',', '').astype(float)

In [191]:
df_homeless_sub.describe()

              Count     Year_only
count  21648.000000  21648.000000
mean     260.139320   2014.239468
std     1448.592168      3.314407
min        0.000000   2008.000000
25%        2.000000   2016.000000
50%       25.000000   2016.000000
75%      153.000000   2016.000000
max    73523.000000   2016.000000

In [192]:
df_homeless_sub = df_homeless_sub.groupby(["Year_only","State"])["Count"].sum().reset_index()
df_homeless_sub.columns = ["year", "state_abbrev", "homeless_count"]
df_homeless_sub

     year state_abbrev  homeless_count
0    2008           AK          7462.0
1    2008           AL         23652.0
2    2008           AR         14806.0
3    2008           AZ         56146.0
4    2008           CA        626632.0
..    ...          ...             ...
103  2016           VT          5762.0
104  2016           WA        103862.0
105  2016           WI         27656.0
106  2016           WV          7020.0
107  2016           WY          4184.0

[108 rows x 3 columns]

## Politics Dataset

https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/VOQCHQ

In [43]:
df_politics_sub = (
                    df_politics.query("year == 2008 or year == 2016")
                                .query("party == 'DEMOCRAT' or party == 'REPUBLICAN'")
                                .rename(columns = {"state_po":"state_abbrev"})
                                .assign(vote_perc = lambda x: df_politics['candidatevotes']/df_politics['totalvotes']*100)
                  )[['year', 'state', 'state_abbrev', 'party', 'vote_perc']]

In [ ]:
df_politics_sub

       year    state state_abbrev       party  vote_perc
21815  2008  ALABAMA           AL    DEMOCRAT  25.773021
21816  2008  ALABAMA           AL  REPUBLICAN  73.613637
21818  2008  ALABAMA           AL    DEMOCRAT  23.811922
21819  2008  ALABAMA           AL  REPUBLICAN  75.259479
21821  2008  ALABAMA           AL    DEMOCRAT  48.985383
...     ...      ...          ...         ...        ...
50516  2016   ALASKA           AK  REPUBLICAN  24.915765
50518  2016   ALASKA           AK    DEMOCRAT  50.715835
50519  2016   ALASKA           AK  REPUBLICAN  29.869848
50521  2016   ALASKA           AK    DEMOCRAT  80.116959
50522  2016   ALASKA           AK  REPUBLICAN  11.695906

[12632 rows x 5 columns]

In [53]:
df_politics_sub = (
                    df_politics_sub.groupby(["year","state_abbrev","party"])["vote_perc"].sum().reset_index()
                                    .pivot(index=['year', 'state_abbrev'], columns='party', values='vote_perc').reset_index()
                  )

In [59]:
df_politics_sub['win_party'] = df_politics_sub.apply(lambda x: "Democrat" if x['DEMOCRAT'] > x['REPUBLICAN'] else "Republican", axis=1)

In [63]:
df_politics_sub = df_politics_sub[['year', 'state_abbrev', 'win_party']]
df_politics_sub

party  year state_abbrev   win_party
0      2008           AK  Republican
1      2008           AL  Republican
2      2008           AR  Republican
3      2008           AZ  Republican
4      2008           CA    Democrat
..      ...          ...         ...
97     2016           VT    Democrat
98     2016           WA  Republican
99     2016           WI  Republican
100    2016           WV  Republican
101    2016           WY  Republican

[102 rows x 3 columns]

## Economy Dataset

https://www.kaggle.com/datasets/davidbroberts/us-economic-profile-by-county?resource=download&select=profile_by_county_1969_2019.csv

In [94]:
# dict of state name to abbrevation
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "Virgin Islands": "VI",
}

In [142]:
states_FIPS = ['01000', '02000', '03000', '04000', '05000', '06000', '07000', '08000', '09000']
for i in range(10, 57):
    fips = str(i)+'000'
    states_FIPS.append(fips)

In [149]:
df_econ['GeoFIPS'] = df_econ['GeoFIPS'].str.slice(2,7)

In [160]:
econ_cols = [' Per capita personal income 4/', ' Per capita net earnings 4/', 'Total employment (number of jobs)', ' Average wages and salaries']

In [174]:
df_econ_sub = (df_econ[['GeoFIPS', 'GeoName', 'Description', '2008', '2016']]
                 .query("GeoFIPS in @states_FIPS")
                 .query("Description in @econ_cols")
                 .assign(state_abbrev = df_econ['GeoName'].map(us_state_to_abbrev))
                 .drop(columns = ['GeoFIPS', 'GeoName'])               
                )

In [175]:
df_econ_sub

                             Description     2008     2016 state_abbrev
39         Per capita personal income 4/    33353    39536           AL
40            Per capita net earnings 4/    20229    23180           AL
54     Total employment (number of jobs)  2582591  2619796           AL
60            Average wages and salaries    38138    44187           AL
2147       Per capita personal income 4/    47749    56302           AK
...                                  ...      ...      ...          ...
95881         Average wages and salaries    39662    46551           WI
98154      Per capita personal income 4/    48593    54168           WY
98155         Per capita net earnings 4/    28776    30753           WY
98169  Total employment (number of jobs)   398969   398271           WY
98175         Average wages and salaries    42316    46028           WY

[204 rows x 4 columns]

In [177]:
df_econ_sub_08 = (df_econ_sub.drop(columns = ['2016'])
                             .assign(year = 2008)
                 )
df_econ_sub_16 = (df_econ_sub.drop(columns = ['2008'])
                             .assign(year = 2016)
                 )

In [183]:
df_econ_sub_08 = (df_econ_sub_08.pivot(index=['year', 'state_abbrev'], columns='Description', values='2008').reset_index()
                                .rename(columns = {' Average wages and salaries':"AvgSalary", ' Per capita net earnings 4/':"PerCapNetEarning", ' Per capita personal income 4/':"PerCapNetIncome", "Total employment (number of jobs)":"TotalNumJobs"})
                 )

df_econ_sub_16 = (df_econ_sub_16.pivot(index=['year', 'state_abbrev'], columns='Description', values='2016').reset_index()
                                .rename(columns = {' Average wages and salaries':"AvgSalary", ' Per capita net earnings 4/':"PerCapNetEarning", ' Per capita personal income 4/':"PerCapNetIncome", "Total employment (number of jobs)":"TotalNumJobs"})
                 )

In [186]:
df_econ_sub = pd.concat([df_econ_sub_08, df_econ_sub_16])
df_econ_sub

Description,year,state_abbrev,AvgSalary,PerCapNetEarning,PerCapNetIncome,TotalNumJobs
0,2008,AK,48527,31586,47749,443538
1,2008,AL,38138,20229,33353,2582591
2,2008,AR,35310,18526,31940,1579283
3,2008,AZ,43311,22318,35563,3402808
4,2008,CA,52524,28770,43890,20654292
...,...,...,...,...,...,...
46,2016,VT,44188,29569,50420,433924
47,2016,WA,58989,34596,55802,4310119
48,2016,WI,46551,30320,47598,3658030
49,2016,WV,41183,20587,37099,890105
50,2016,WY,46028,30753,54168,398271

# Merge Datasets

In [193]:
df_homeless_sub

     year state_abbrev  homeless_count
0    2008           AK          7462.0
1    2008           AL         23652.0
2    2008           AR         14806.0
3    2008           AZ         56146.0
4    2008           CA        626632.0
..    ...          ...             ...
103  2016           VT          5762.0
104  2016           WA        103862.0
105  2016           WI         27656.0
106  2016           WV          7020.0
107  2016           WY          4184.0

[108 rows x 3 columns]

In [196]:
df_econ_sub

Description,year,state_abbrev,AvgSalary,PerCapNetEarning,PerCapNetIncome,TotalNumJobs
0,2008,AK,48527,31586,47749,443538
1,2008,AL,38138,20229,33353,2582591
2,2008,AR,35310,18526,31940,1579283
3,2008,AZ,43311,22318,35563,3402808
4,2008,CA,52524,28770,43890,20654292
...,...,...,...,...,...,...
46,2016,VT,44188,29569,50420,433924
47,2016,WA,58989,34596,55802,4310119
48,2016,WI,46551,30320,47598,3658030
49,2016,WV,41183,20587,37099,890105
50,2016,WY,46028,30753,54168,398271

In [199]:
df_econ_politcs = (df_homeless_sub.merge(df_politics_sub, how = "left", on = ['year', 'state_abbrev'])
                                  .merge(df_econ_sub, how = "left", on = ['year', 'state_abbrev'])
                  )
df_econ_politcs

,year,state_abbrev,homeless_count,win_party,AvgSalary,PerCapNetEarning,PerCapNetIncome,TotalNumJobs
0,2008,AK,7462.0,Republican,48527,31586,47749,443538
1,2008,AL,23652.0,Republican,38138,20229,33353,2582591
2,2008,AR,14806.0,Republican,35310,18526,31940,1579283
3,2008,AZ,56146.0,Republican,43311,22318,35563,3402808
4,2008,CA,626632.0,Democrat,52524,28770,43890,20654292
...,...,...,...,...,...,...,...,...
103,2016,VT,5762.0,Democrat,44188,29569,50420,433924
104,2016,WA,103862.0,Republican,58989,34596,55802,4310119
105,2016,WI,27656.0,Republican,46551,30320,47598,3658030
106,2016,WV,7020.0,Republican,41183,20587,37099,890105
107,2016,WY,4184.0,Republican,46028,30753,54168,398271

In [200]:
df_econ_politcs.to_csv("../data/homeless_count_Econ_Politics_by_state.csv", index=False)

# EDA